<nav>
  <ul>
    <li>link1</li>
    <li>link2</li>
    <li>link3</li>
    <li>link4</li>
    <li>link5</li>
    <li>link6</li>
    <li>link7</li>
    <li>link8</li>
    <li>link9</li>
    <li>link10</li>
    <li>link11</li>
    <li>link12</li>
    <li>link13</li>
    <li>link14</li>
    <li>link15</li>
    <li>link16</li>
    <li>link17</li>
    <li>link18</li>
    <li>link19</li>
    <li>link20</li>
    <li>link21</li>
    <li>link22</li>
    <li>link23</li>
    <li>link24</li>
    <li>link25</li>
    <li>link26</li>
    <li>link27</li>
    <li>link28</li>
    <li>link29</li>
    <li>link30</li>
    <li>link31</li>
    <li>link32</li>
    <li>link33</li>
    <li>link34</li>
    <li>link35</li>
    <li>link36</li>
    <li>link37</li>
    <li>link38</li>
    <li>link39</li>
    <li>link40</li>
    <li>link41</li>
    <li>link42</li>
    <li>link43</li>
    <li>link44</li>
    <li>link45</li>
    <li>link46</li>
    <li>link47</li>
    <li>link48</li>
    <li>link49</li>
    <li>link50</li>
    <li>link51</li>
    <li>link52</li>
    <li>link53</li>
    <li>link54</li>
    <li>link55</li>
    <li>link56</li>
    <li>link57</li>
    <li>link58</li>
    <li>link59</li>
    <li>link60</li>
    <li>link61</li>
    <li>link62</li>
    <li>link63</li>
    <li>link64</li>
    <li>link65</li>
    <li>link66</li>
    <li>link67</li>
    <li>link68</li>
    <li>link69</li>
    <li>link70</li>
    <li>link71</li>
    <li>link72</li>
    <li>link73</li>
    <li>link74</li>
    <li>link75</li>
    <li>link76</li>
    <li>link77</li>
    <li>link78</li>
    <li>link79</li>
    <li>link80</li>
    <li>link81</li>
    <li>link82</li>
    <li>link83</li>
    <li>link84</li>
    <li>link85</li>
    <li>link86</li>
    <li>link87</li>
    <li>link88</li>
    <li>link89</li>
    <li>link90</li>
    <li>link91</li>
    <li>link92</li>
    <li>link93</li>
    <li>link94</li>
    <li>link95</li>
    <li>link96</li>
    <li>link97</li>
    <li>link98</li>
    <li>link99</li>
    <li>link100</li>
  </ul>
</nav>
