<header>
  <nav>
    <a routerLink="/home" class="logo">
      <img src="assets/header/logo.jpg" alt="cover" />
    </a>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          {{ "links.home" | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/cart" routerLinkActive="active">
          {{ "links.cart" | translate }}
        </a>
      </li>
      <li *ngIf="cart.products$ | async as products">
        <button (click)="cart.toggleCart()">
          x: {{ products.length }} {{ summer(products) }}$
        </button>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">
          {{ "links.about" | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/contacts" routerLinkActive="active">
          {{ "links.contacts" | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/some" routerLinkActive="active">
          {{ "links.notFound" | translate }}
        </a>
      </li>

      <ng-container *ngIf="isAuth$ | async;else auth">
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">
            {{ "links.dashboard" | translate }}
          </a>
        </li>
        <li>
          <button (click)="onLogOut()" class="link">
            logout
          </button>
        </li>
      </ng-container>
      <ng-template #auth>
        <li>
          <a routerLink="/auth" routerLinkActive="active">
            {{ "links.auth" | translate }}
          </a>
        </li>
      </ng-template>



      <li>
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang"
          >
            {{ lang }}
          </option>
        </select>
      </li>
    </ul>
  </nav>
</header>
